SNC_MODE=local
SNC_STATE_DIR=/var/lib/smallnginxcontrol
SNC_NGINX_ROOT=/etc/nginx
SNC_LOG_ROOT=/var/log/nginx
SNC_LOG_EXTRA_ROOTS=/var/http
SNC_MAINTENANCE_ROOT=/var/www/html
SNC_ACME_WEBROOT=/var/www/html
SNC_CERTBOT_BIN=/usr/bin/certbot
SNC_CERTBOT_LIVE_ROOT=/etc/letsencrypt/live
SNC_NGINX_BIN=/usr/sbin/nginx
SNC_SERVER=192.0.2.15
SNC_BIND=127.0.0.1
SNC_PORT=7445
SNC_ALLOWED_HOSTS=127.0.0.1,localhost,192.0.2.15
SNC_INTERFACE=
SNC_CSRF_ORIGINS=https://192.0.2.15:7444,https://localhost:7444
SNC_TRUST_PROXY=1
SNC_SECURE_COOKIES=1