SNC_MODE=local
SNC_STATE_DIR=/var/lib/smallnginxcontrol
SNC_NGINX_ROOT=/etc/nginx
SNC_LOG_ROOT=/var/log/nginx
SNC_MAINTENANCE_ROOT=/var/www/html
SNC_NGINX_BIN=/usr/sbin/nginx
SNC_SERVER=192.0.2.15
SNC_BIND=127.0.0.1
SNC_PORT=7444
SNC_ALLOWED_HOSTS=127.0.0.1,localhost,192.0.2.15
SNC_INTERFACE=
SNC_CSRF_ORIGINS=
SNC_TRUST_PROXY=0
SNC_SECURE_COOKIES=0